.button {
    height: 80px;
    width: 80px;
    border-radius: 50px;
    margin: 10px;
    cursor: pointer;
    color: #ffff;
    border: 1px solid #000;
}

.bg-red {
    background-color: red;
}

.bg-black {
    background-color: black;
}

.bg-green {
    background-color: green;
}

.button:hover {
    border: 1px solid #fff;
}

.count {
    width: 100px;
    background: gray;
    padding: 10px;
    font-size: 30px;
    border-radius: 10px;
    margin: auto;
    margin-bottom: 30px;
}

.heading{
    font-size: 25px;
    text-align: center; 
    margin-top: 100px
}
